<div class="container-fluid titles-container">
    <div class="card">
        <div class="card-body">
            <div class="row titles-row">
                <div class="col-md-2">
                    <label for="Employer.Name">שם המעסיק</label>
                </div>
                <div class="col-md-2">
                    <label for="Employer.Address">כתובת</label>
                </div>
                <div class="col-md-2">
                    <label for="Employer.Position">תפקיד</label>
                </div>
                <div class="col-md-2">
                    <label for="Employer.ResignationCause">סיבת עזיבה</label>
                </div>
                <div class="col-md-2">
                    <label for="Employer.FromDate">תאריך תחילה</label>
                </div>
                <div class="col-md-2">
                    <label for="Employer.ToDate">תאריך סיום</label>
                </div>
            </div>
        </div>
    </div>
</div>

<form name="ExperienceForm{{insertID}}" id="ExperienceForm{{insertID}}" #ExperienceForm>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Employer.Name" name="Employer.Name{{insertID}}" placeholder="שם המעסיק">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Employer.Address" name="Employer.Address{{insertID}}" placeholder="כתובת">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Employer.Position" name="Employer.Position{{insertID}}" placeholder="תפקיד">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Employer.ResignationCause" name="Employer.ResignationCause{{insertID}}" placeholder="סיבת עזיבה">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="Employer.FromDate{{insertID}}" [(ngModel)]="Employer.FromDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="Employer.ToDate{{insertID}}" [(ngModel)]="Employer.ToDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>