<form name="GIForm" id="GIForm" #GIForm>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">שירות צבאי/לאומי</h6>
                <div class="row">
                    <div class="col-md-2 col-xs-3 mat-field-wrapper" [hidden]="applicantForm.employee.serviceType == null">
                        <div class="form-group">
                            <label for="employee.serviceType">סוג שירות</label>
                            <mat-radio-group aria-labelledby="סוג שירות" class="form-control" [(ngModel)]="applicantForm.employee.serviceType" name="employee.serviceType">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of ServiceType" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-md-2" [hidden]="applicantForm.employee.serviceType != null && applicantForm.employee.serviceType != true">
                        <div class="form-group">
                            <label for="employee.IdfID">מספר אישי</label>
                            <input type="text" class="form-control" [(ngModel)]="applicantForm.employee.IdfID" name="employee.IdfID" placeholder="מספר אישי">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-3 mat-field-wrapper" [hidden]="applicantForm.employee.serviceType != null && applicantForm.employee.serviceType != true">
                        <label for="employee.IdfRank ">דרגת שחרור</label>
                        <mat-form-field class="form-control ltr">
                            <mat-select [(ngModel)]="applicantForm.employee.IdfRank" disableRipple name="employee.IdfRank">
                                <mat-option *ngFor="let status of Ranks | enumToArray" [value]="status.name">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="taxExemption.serviceStartDate">תאריך גיוס</label>
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="employee.serviceStartDate" [(ngModel)]="applicantForm.taxExemption.serviceStartDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="taxExemption.serviceEndDate">תאריך שחרור</label>
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="employee.serviceEndDate" [(ngModel)]="applicantForm.taxExemption.serviceEndDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="employee.hmoMember">חבר קופת חולים</label>
                            <mat-radio-group aria-labelledby="חבר קופת חולים" class="form-control" [(ngModel)]="applicantForm.employee.hmoMember" name="employee.hmoMember">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-3 mat-field-wrapper">
                        <label for="employee.hmoCode ">קופת חולים</label>
                        <mat-form-field class="form-control ltr">
                            <mat-select [(ngModel)]="applicantForm.employee.hmoCode" disableRipple name="employee.hmoCode">
                                <mat-option *ngFor="let status of hmos | enumToArray" [value]="status.index">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 col-xs-3 mat-field-wrapper">
                        <label for="employee.organizationalAffiliation ">השתייכות ארגונית</label>
                        <mat-form-field class="form-control ltr">
                            <mat-select [(ngModel)]="applicantForm.employee.organizationalAffiliation" disableRipple name="employee.organizationalAffiliation">
                                <mat-option *ngFor="let status of Organizations | enumToArray" [value]="status.index">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="employee.membershipFee">דמי חבר</label>
                            <mat-radio-group aria-labelledby="דמי חבר" class="form-control" [(ngModel)]="applicantForm.employee.membershipFee" name="employee.membershipFee">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="employee.criminalRecord">רישום פלילי</label>
                            <mat-radio-group aria-labelledby="רישום פלילי" class="form-control" [(ngModel)]="applicantForm.employee.criminalRecord" name="employee.criminalRecord">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="employee.medicalEligibility">כשירות רפואית</label>
                            <mat-radio-group aria-labelledby="כשירות רפואית" class="form-control" [(ngModel)]="applicantForm.employee.medicalEligibility" name="employee.medicalEligibility">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="employee.Bank">בנק</label>
                            <input type="text" class="form-control" [(ngModel)]="applicantForm.employee.Bank" name="employee.Bank" placeholder="בנק">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="employee.Branch">סניף</label>
                            <input type="text" class="form-control" [(ngModel)]="applicantForm.employee.Branch" name="employee.Branch" placeholder="סניף">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="employee.AccountNumber">מספר חשבון</label>
                            <input type="text" class="form-control" [(ngModel)]="applicantForm.employee.AccountNumber" name="employee.AccountNumber" placeholder="צספר חשבון">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</form>