<ng-template [ngIf]="ToggleAction">
    <form name="TravelReimbursementForm" id="TravelReimbursementForm" #TravelReimbursementForm>

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">החזר נסיעות</h5>

                    <div class="card" *ngFor="let transport of travelReimbursement.TransportModes; let i = index;">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-2 col-xs-3 mat-field-wrapper">
                                    <label for="transport.ModeType ">חברת נסיעות</label>
                                    <mat-form-field class="form-control ltr">
                                        <mat-select [(ngModel)]="transport.ModeType" disableRipple name="ModeType">
                                            <mat-option *ngFor="let status of transportModes | enumToArray" [value]="status.name">
                                                {{ status.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="LineNumber">מספר קו</label>
                                        <input type="text" class="form-control" [(ngModel)]="transport.LineNumber" name="LineNumber" placeholder="מספר קו">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="FromStation">מתחנה</label>
                                        <input type="text" class="form-control" [(ngModel)]="transport.FromStation" name="FromStation" placeholder="מתחנה">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="ToStation">לתחנה</label>
                                        <input type="text" class="form-control" [(ngModel)]="transport.ToStation" name="ToStation" placeholder="לתחנה">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Price">מחיר מלא בכיוון אחד</label>
                                        <input type="text" class="form-control" [(ngModel)]="transport.Price" name="Price" placeholder="מחיר מלא בכיוון אחד">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="MonthlyTicket">מחיר כרטיס חופשי חודשי</label>
                                        <input type="text" class="form-control" [(ngModel)]="transport.MonthlyTicket" name="MonthlyTicket" placeholder="מחיר כרטיס חופשי חודשי">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Days">מספר ימים בשבוע</label>
                                        <input type="text" class="form-control" [(ngModel)]="transport.Days" name="Days" placeholder="מספר ימים בשבוע">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>
</ng-template>