<div class="container-fluid titles-container">
    <div class="card">
        <div class="card-body">
            <div class="row titles-row">
                <div class="col-md-2">
                    <label for="Reference.Recommender">שם הממליץ</label>
                </div>
                <div class="col-md-2">
                    <label for="Reference.WorkPlace">מקום העבודה</label>
                </div>
                <div class="col-md-2">
                    <label for="Reference.jobTitle">התפקיד</label>
                </div>
                <div class="col-md-2">
                    <label for="Reference.Phone">טלפון</label>
                </div>
                <div class="col-md-2">
                    <label for="Reference.Email">מייל</label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Email,Phone,Recommender,WorkPlace,jobTitle -->
<form name="ReferenceForm{{insertID}}" id="ReferenceForm{{insertID}}" #ReferenceForm>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Reference.Recommender" name="Reference.Recommender{{insertID}}" placeholder="שם הממליץ" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Reference.WorkPlace" name="Reference.WorkPlace{{insertID}}" placeholder="מקום העבודה" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Reference.jobTitle" name="Reference.jobTitle{{insertID}}" placeholder="התפקיד">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Reference.Phone" name="Reference.Phone{{insertID}}" placeholder="טלפון" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Reference.Email" name="Reference.Email{{insertID}}" placeholder="מייל">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>