<form name="FamilyDetailsForm" id="FamilyDetailsForm" #FamilyDetailsForm>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-2 col-xs-3 mat-field-wrapper">
                        <label for="employee.maritalStatus">מצב משפחתי</label>
                        <mat-form-field class="form-control ltr">
                            <mat-select [(ngModel)]="applicantForm.employee.maritalStatus" disableRipple name="employee.maritalStatus">
                                <mat-option *ngFor="let status of maritalStatesEnum | enumToArray" [value]="status.index">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="spouse.idNumber">מספר זהות</label>
                            <input type="text" class="form-control" [(ngModel)]="applicantForm.spouse.idNumber" name="spouse.idNumber" required placeholder="מספר זהות">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="spouse.firstName">שם פרטי</label>
                            <input type="text" class="form-control" [(ngModel)]="applicantForm.spouse.firstName" name="spouse.firstName" required minlength="2" placeholder="שם פרטי">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="spouse.lastName">שם משפחה</label>
                            <input type="text" class="form-control" [(ngModel)]="applicantForm.spouse.lastName" name="spouse.lastName" required minlength="2" placeholder="שם משפחה">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="spouse.birthDate">תאריך לידה</label>
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="spouse.birthDate" required [(ngModel)]="applicantForm.spouse.birthDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="spouse.hasIncome">עובד</label>
                            <mat-radio-group aria-labelledby="עובד" class="form-control" [(ngModel)]="applicantForm.spouse.hasIncome" name="employee.hasIncome">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="spouse.jobTitle">מקום עבודה</label>
                            <input type="text" class="form-control" [(ngModel)]="applicantForm.spouse.jobTitle" name="spouse.jobTitle" placeholder="מקום עבודה">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="spouse.Email">כתובת מייל</label>
                            <input type="email" class="form-control" [(ngModel)]="applicantForm.spouse.Email" name="spouse.Email" placeholder="כתובת מייל" email>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>