<ng-template [ngIf]="ToggleAction">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" OpenAll>קרובים/ממליצים</h5>
                <!-- start Relatives-Forms-->
                <div class="col-xl-12" *ngIf="applicantForm.Relatives && applicantForm.Relatives.length > 0">
                    <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'.relatives-container'">קרובים בארגון</h6>
                    <div class="relatives-container component">
                        <list-relatives *ngFor="let rltv of applicantForm.Relatives; let i = index;" [Relative]="rltv" [KinshipTypes]="KinshipTypes"></list-relatives>
                    </div>
                </div>
                <div class="clear-both"></div>
                <!-- end -->

                <!-- start References-Forms-->
                <div class="col-xl-12" *ngIf="applicantForm.References && applicantForm.References.length > 0">
                    <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'.references-container'">ממליצים</h6>
                    <div class="references-container component">
                        <list-references *ngFor="let Ref of applicantForm.References; let i = index;" [Reference]="Ref"></list-references>
                    </div>
                </div>
                <div class="clear-both"></div>
                <!-- end -->

                <!-- start AllowEmergencyContacts Forms -->
                <div class="col-xl-12" *ngIf="applicantForm.EmergencyContacts && applicantForm.EmergencyContacts.length > 0">
                    <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'.emergency-contacts-container'">קרובים לשעת חירום</h6>
                    <div class="emergency-contacts-container component">
                        <list-emergency-contacts *ngFor="let ec of applicantForm.EmergencyContacts; let i = index;" [EmergencyContact]="ec"></list-emergency-contacts>
                    </div>
                </div>
                <!-- end -->

            </div>
        </div>
    </div>
</ng-template>