form {
    width: 100%;
    display: inherit;
}

.container-fluid {
    padding: .6rem 0 .3rem 0;
    display: table-row;
}

.col-xl-12 {
    padding: 0;
}

.card {
    background-color: initial;
}

.card-body {
    padding: 0.35rem;
}

.card-body>.row {
    padding: 0.35rem 2rem;
}

.card-title {
    font-weight: 550;
    margin: -.35rem -.35rem .35rem;
    padding: 0.35rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

h5.card-title>i {
    float: left;
    font-size: 1.5rem;
    margin-left: 0.35rem;
    cursor: pointer;
}

h6.card-title {
    border-color: #B691C5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.mat-field-wrapper {
    width: 100%;
}

mat-radio-group.form-control {
    border: none;
}

list-children,
list-courses,
list-experience,
list-languages,
list-relatives,
list-references {
    margin-top: 0.725rem;
}

list-children,
list-courses,
list-experience,
list-relatives,
list-references,
list-languages {
    float: right;
}

list-courses,
list-experience,
list-relatives,
list-references,
list-children {
    width: 100%;
}

list-languages {
    width: 50%;
}

@media (max-width:1800px) {
    .form-control.auto-height {
        height: auto;
    }
}