<form name="LanguagesForm{{insertID}}" id="LanguagesForm{{insertID}}" #LanguagesForm>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-1 col-xs-2">
                        <div class="form-group">
                            <label for="language.name">שם</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="language.name" name="language.name{{insertID}}" required minlength="2" placeholder="שם">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-xs-2">
                        <div class="form-group">
                            <label for="language.writing">קריאה</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <mat-radio-group aria-labelledby="קריאה" class="form-control" [(ngModel)]="language.reading" name="language.reading{{insertID}}">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of YesNo" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-2">
                        <div class="form-group">
                            <label for="language.readingLevel ">רמת שליטה</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 mat-field-wrapper">
                        <mat-form-field class="form-control ltr">
                            <mat-select [(ngModel)]="language.readingLevel" disableRipple [disabled]="!language.reading" name="language.readingLevel{{insertID}}">
                                <mat-option *ngFor="let status of Levels | enumToArray" [value]="status.index">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-xs-2">
                        <div class="form-group">
                            <label for="language.writing">כתיבה</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <mat-radio-group aria-labelledby="כתיבה" class="form-control" [(ngModel)]="language.writing" name="language.writing{{insertID}}">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of YesNo" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-2">
                        <div class="form-group">
                            <label for="language.readingLevel ">רמת שליטה</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 mat-field-wrapper">
                        <mat-form-field class="form-control ltr">
                            <mat-select [(ngModel)]="language.writingLevel" disableRipple [disabled]="!language.writing" name="language.writingLevel{{insertID}}">
                                <mat-option *ngFor="let status of Levels | enumToArray" [value]="status.index">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-xs-2">
                        <div class="form-group">
                            <label for="language.speech">דיבור</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="form-group">
                            <mat-radio-group aria-labelledby="דיבור" class="form-control" [(ngModel)]="language.speech" name="language.speech{{insertID}}">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of YesNo" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-2">
                        <div class="form-group">
                            <label for="language.readingLevel ">רמת שליטה</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 mat-field-wrapper">
                        <mat-form-field class="form-control ltr">
                            <mat-select [(ngModel)]="language.speechLevel" disableRipple [disabled]="!language.speech" name="language.speechLevel{{insertID}}">
                                <mat-option *ngFor="let status of Levels | enumToArray" [value]="status.index">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>