<ng-template [ngIf]="ToggleAction">
    <form name="ProvidentFundForm" id="ProvidentFundForm" #ProvidentFundForm>

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">טופס קופות גמל</h5>

                    <div class="component">

                        <div class="container-fluid" *ngFor="let fund of Funds; let i = index;">
                            <div class="card">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-3 col-xs-6 mat-field-wrapper">
                                            <label for="transport.ModeType">סוג קופה</label>
                                            <mat-form-field class="form-control ltr">
                                                <mat-select [(ngModel)]="fund.PosType" disableRipple name="fund.PosType{{fund.ID}}">
                                                    <mat-option *ngFor="let status of posTypes | enumToArray" [value]="status.index">
                                                        {{ status.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 col-xs-6 mat-field-wrapper">
                                            <label for="transport.ModeType">קופת ברירת מחדל</label>
                                            <mat-form-field class="form-control ltr">
                                                <mat-select [(ngModel)]="fund.DefaultPos" disableRipple name="fund.DefaultPos{{fund.ID}}">
                                                    <mat-option *ngFor="let status of defaultPosTypes | enumToArray" [value]="status.index">
                                                        {{ status.name }} ({{ status.index }})
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                            <div class="form-group">
                                                <label for="LineNumber">שם קופה</label>
                                                <input type="text" class="form-control" [(ngModel)]="fund.TreasuryNumber" [disabled]='DisableAll' name="fund.TreasuryNumber{{fund.ID}}" placeholder="שם קופה">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                            <div class="form-group">
                                                <label for="LineNumber">מספר קופה באוצר</label>
                                                <input type="number" class="form-control" [(ngModel)]="fund.TreasuryCode" [disabled]='DisableAll' name="fund.TreasuryCode{{fund.ID}}" placeholder="מספר קופה באוצר">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>