mat-radio-group.form-control {
    border: none;
}

.container-fluid.fadein {
    max-height: 1250px;
}

list-children {
    width: 100%;
    margin-top: 0.725rem;
}

h3.card-title {
    text-decoration: underline;
    text-decoration-color: #84B8F8;
    width: 100%;
    padding-right: 1.5rem;
    margin-bottom: 0;
}