<div class="container-fluid">
    <form name="TFD_Form" id="TFD_Form" #TFD_Form>

        <div class="card">
            <div class="card-body">

                <div class="row" *ngIf="showSpouse">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="idNumber">מספר זהות</label>
                            <input type="text" class="form-control" [(ngModel)]="Spouse.idNumber" [disabled]="DisableAll" name="Spouse.idNumber" placeholder="מספר זהות" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="firstName">שם פרטי</label>
                            <input type="text" class="form-control" [(ngModel)]="Spouse.firstName" [disabled]="DisableAll" name="Spouse.firstName" placeholder="שם פרטי" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="lastName">שם משפחה</label>
                            <input type="text" class="form-control" [(ngModel)]="Spouse.lastName" [disabled]="DisableAll" name="Spouse.lastName" placeholder="שם משפחה" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="birthDate">תאריך לידה</label>
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="Spouse.birthDate" [(ngModel)]="Spouse.birthDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" required>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="immigrationDate">תאריך עליה</label>
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="Spouse.immigrationDate" [(ngModel)]="Spouse.immigrationDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="jobTitle">מקום עבודה</label>
                            <input type="text" class="form-control" [(ngModel)]="Spouse.jobTitle" [disabled]="DisableAll" name="Spouse.jobTitle" placeholder="מקום עבודה">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="Email">כתובת מייל</label>
                            <input type="email" class="form-control" [(ngModel)]="Spouse.Email" [disabled]="DisableAll" name="Spouse.Email" placeholder="כתובת מייל" email>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="hasIncome">הכנסה</label>
                            <mat-radio-group [disabled]="DisableAll" aria-labelledby="הכנסה" class="form-control" [(ngModel)]="Spouse.hasIncome" name="Spouse.hasIncome">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of HasIncome" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="incomeType">סוג הכנסה</label>
                            <mat-radio-group [disabled]="DisableAll" aria-labelledby="סוג הכנסה" class="form-control" [(ngModel)]="Spouse.incomeType" name="Spouse.incomeType">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of incomes" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="Children && Children.length > 0">
                    <h3 class="card-title">ילדים</h3>
                    <list-children *ngFor="let c of Children | childrenFilter: 'birthDate': 18; let i = index;" [child]="c" [DisableAll]=DisableAll>
                    </list-children>
                </div>

            </div>
        </div>

    </form>
</div>