<footer>

    <!-- pager -->
    <div class="col-md-12" *ngIf="pager.MaxPages > 1">
        <div class="d-flex justify-content-center">
            <div class="pagination">
                <a (click)="MovePage('--')" *ngIf="pager.PageNumber > 2">&raquo;</a>
                <a *ngIf="pager.PageNumber < 3" class="disabled">&raquo;</a>

                <a (click)="MovePage('-')" *ngIf="pager.PageNumber > 0">❯</a>
                <a *ngIf="pager.PageNumber < 1" class="disabled">❯</a>

                <a *ngFor="let n of pager.PagerList" [ngClass]="{'active':pager.PageNumber == n}" (click)="MovePage(n)">{{n + 1}}</a>

                <a (click)="MovePage('+')" *ngIf="pager.PageNumber < (pager.MaxPages - 1)">❮</a>
                <a *ngIf="pager.PageNumber >= (pager.MaxPages - 1)" class="disabled">❮</a>

                <a (click)="MovePage('++')" *ngIf="pager.PageNumber < (pager.MaxPages - 2)">&laquo;</a>
                <a *ngIf="pager.PageNumber >= (pager.MaxPages - 2)" class="disabled">&laquo;</a>
            </div>
        </div>
    </div>
    <!-- pager -->

    <p class="text-xs-center">© Copyright 2019. All rights reserved.</p>
</footer>