footer {
    /* position: absolute; */
    width: 100%;
    right: 0;
    padding: 1rem;
    text-align: center;
    z-index: -2;
}

p.text-xs-center {
    margin: .8rem .5rem .5rem;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    border: 1px solid #c1bfbf;
    background-color: #ddd;
    cursor: pointer;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    cursor: default;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a.disabled {
    opacity: 0.4;
    background-color: #fff;
    border-color: #ccc;
    cursor: not-allowed;
}