<div class="row">

    <div class="container-fluid titles-container">
        <div class="card">
            <div class="card-body">
                <div class="row titles-row">
                    <div class="col-md-2">
                        <label for="child.idNumber">מספר זהות</label>
                    </div>
                    <div class="col-md-2">
                        <label for="child.firstName">שם</label>
                    </div>
                    <div class="col-md-2">
                        <label for="child.birthDate">תאריך לידה</label>
                    </div>
                    <div class="col-md-2">
                        <label for="child.homeLiving">הילד נמצא בחזקתי</label>
                    </div>
                    <div class="col-md-2">
                        <label for="child.childBenefit">אני מקבל/ת בגינו/ה קצבת ילדים</label>
                    </div>
                    <div class="col-md-2">
                        <label for="child.gender">מגדר</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form name="ChildrenForm{{child.ID}}" id="ChildrenForm{{child.ID}}" #ChildrenForm class="col-xl-12">

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="child.idNumber" [disabled]='DisableAll' name="child.idNumber{{child.ID}}" placeholder="מספר זהות" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="child.firstName" [disabled]='DisableAll' name="child.firstName{{child.ID}}" placeholder="שם" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="child.birthDate{{child.ID}}" [(ngModel)]="child.birthDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <mat-radio-group [disabled]="DisableAll" aria-labelledby="הילד נמצא בחזקתי" class="form-control" [(ngModel)]="child.homeLiving" required name="child.homeLiving{{child.ID}}">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of YesNo" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <mat-radio-group [disabled]="DisableAll" aria-labelledby="אני מקבל/ת בגינו/ה קצבת ילדים" class="form-control" [(ngModel)]="child.childBenefit" required name="child.childBenefit{{child.ID}}">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of YesNo" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <mat-radio-group [disabled]="DisableAll" aria-labelledby="מגדר" class="form-control" [(ngModel)]="child.gender" name="child.gender{{child.ID}}">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Gender" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>


</div>