mat-radio-group.form-control {
    border: none;
}

form.col-xl-12 {
    padding: 0;
}

.row.titles-row label {
    padding: .25rem 1.5rem .25rem 0;
    font-weight: 600;
}

.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}