.col-xl-12 .row {
    padding: 0.5rem 0.25rem;
}

.col-xl-12.zebra .row:nth-child(even) {
    background: #EBE7E7
}

.col-xl-12.zebra .row:nth-child(odd) {
    background: #FFF
}

.col-xl-12 .row.app-header {
    background: initial;
}

.col-xl-12.app-header {
    color: #fff;
    background: #4186dc;
    background: -webkit-gradient(linear, left top, left bottom, from(#4186dc), to(#6a9fe4));
    background: linear-gradient(#4186dc, #6a9fe4);
}