<div class="form-container">
    <div class="container-fluid">
        <div class="col-xl-12 app-header">
            <div class="row app-header">
                <app-header (FilterListItems)=FilterFroms($event) (SortListItems)=SortForms($event) (UpdateFormsStutas)=UpdateStutas($event) (ExportExcel)=ExportExcelFile($event) class="container-fluid" [counter]="pager.Counter"></app-header>
            </div>
        </div>

        <div class="col-xl-12 zebra">
            <div class="row" *ngFor=" let form of pagedForms[pager.PageNumber]; let i = index;">
                <show-form (formOpenAction)="OnFormOpenAction($event)" class="container-fluid" [form]="form" [KaData]="KaTavlaData" [ShowFactorys]="ShowFactorys" [ShowBudgetItems]="ShowBudgetItems"></show-form>
            </div>
        </div>

        <router-outlet></router-outlet>
        <app-footer [pager]="pager" (PageMove)=MovePage($event)></app-footer>
    </div>
</div>