<div class="container-fluid titles-container">
    <div class="card">
        <div class="card-body">
            <div class="row titles-row">
                <div class="col-md-2">
                    <label for="EmergencyContact.FirstName">שם פרטי</label>
                </div>
                <div class="col-md-2">
                    <label for="EmergencyContact.LastName">שם משפחה</label>
                </div>
                <div class="col-md-2">
                    <label for="EmergencyContact.idNumber">מספר זהות</label>
                </div>
                <div class="col-md-2">
                    <label for="EmergencyContact.cell">נייד</label>
                </div>
                <div class="col-md-2">
                    <label for="EmergencyContact.city">עיר</label>
                </div>
            </div>
        </div>
    </div>
</div>

<form name="EmergencyContactForm{{insertID}}" id="EmergencyContactForm{{insertID}}" #EmergencyContactForm>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="EmergencyContact.FirstName" name="EmergencyContact.FirstName{{insertID}}" placeholder="שם פרטי" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="EmergencyContact.LastName" name="EmergencyContact.LastName{{insertID}}" placeholder="שם משפחה" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="EmergencyContact.idNumber" name="EmergencyContact.idNumber{{insertID}}" placeholder="מספר זהות" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="EmergencyContact.cell" name="EmergencyContact.cell{{insertID}}" placeholder="מספר נייד" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="EmergencyContact.city" name="EmergencyContact.city{{insertID}}" (change)="cityChanged()" placeholder="עיר" required>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>