<div class="container-fluid">
    <form name="TaxCoordinationForm" id="TaxCoordinationForm" #TaxCoordinationForm>

        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="row">
                                <mat-checkbox class="form-checkbox" [disabled]="DisableAll" name="Coordination.requestCoordination" [(ngModel)]="Coordination.requestCoordination" [labelPosition]="'after'">
                                    צירוף תיאום מס
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-xs-2 col-title">
                        <div class="form-group">
                            <label for="requestReason">סיבת הבקשה:</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 mat-field-wrapper">
                        <mat-form-field class="form-control ltr" [ngClass]="{'mat-disabled-field':DisableAll}">
                            <mat-select [disabled]="DisableAll" [(ngModel)]="Coordination.requestReason" disableRipple name="Coordination.requestReason">
                                <mat-option *ngFor="let status of tcStates | enumToArray" [value]="status.index">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-xl-12" *ngIf="(Coordination.employers | lengthFilter:['name','deductionFileID']) as results">
                    <h3 class="card-title">מעביד/משלם משכורת</h3>
                    <tax-coordination-employer [DisableAll]="DisableAll" *ngFor="let employer of Coordination.employers | filterEmployers" [Employer]="employer"></tax-coordination-employer>
                </div>

            </div>
        </div>

    </form>
</div>