.form-control.ltr,
.form-control.ltr mat-select {
    direction: ltr;
}

.mat-field-wrapper {
    width: 100%;
}

mat-form-field {
    padding: 0;
}

.row.titles-row label {
    padding: .25rem 1.5rem .25rem 0;
    font-weight: 600;
}