<div class="container-fluid titles-container">
    <div class="card">
        <div class="card-body">
            <div class="row titles-row">
                <div class="col-md-2">
                    <label for="course.certificateName">שם</label>
                </div>
                <div class="col-md-1">
                    <label for="course.degree ">סוג תואר</label>
                </div>
                <div class="col-md-2">
                    <label for="course.institutionName">שם המוסד</label>
                </div>
                <div class="col-md-1">
                    <label for="course.educationYears">שנות לימוד</label>
                </div>
                <div class="col-md-2">
                    <label for="course.studySubject1">מגמה 1</label>
                </div>
                <div class="col-md-2">
                    <label for="course.studySubject2">מגמה 2</label>
                </div>
                <div class="col-md-2">
                    <label for="course.degreeDate">תאריך תואר</label>
                </div>
            </div>
        </div>
    </div>
</div>

<form name="CoursesForm{{insertID}}" id="CoursesForm{{insertID}}" #CoursesForm>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="course.certificateName" name="course.certificateName{{insertID}}" placeholder="שם">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3 mat-field-wrapper">
                        <mat-form-field class="form-control ltr">
                            <mat-select [(ngModel)]="course.degree" disableRipple name="course.degree{{insertID}}">
                                <mat-option *ngFor="let status of Degrees" [value]="status.PNH_TEUR_K">
                                    {{ status.PNH_TEUR_K }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="course.institutionName" name="course.institutionName{{insertID}}" placeholder="שם המוסד">
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <div class="form-group">
                            <input type="number" class="form-control" [(ngModel)]="course.educationYears" name="course.educationYears{{insertID}}" placeholder="שנות לימוד">
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="course.studySubject1" name="course.studySubject1{{insertID}}" placeholder="מגמה 1">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-3">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="course.studySubject2" name="course.studySubject2{{insertID}}" placeholder="מגמה 2">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="course.degreeDate{{insertID}}" [(ngModel)]="course.degreeDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>