<div class="row">
    <div class="col-md-auto">
        <span class="badge">
            +(2)
        </span>
    </div>

    <div class="col-md-1">
        <span class="badge">
            מספר עובד
        </span>
        <i class="fa fa-arrow-down" aria-hidden="true" (click)="OutputSortAction($event,'USERID')"></i>
        <div class="col-xs-12">
            <input class="form-control" name="USERID" [(ngModel)]="filter.USERID" placeholder="מספר עובד" (ngModelChange)="OutputFilterAction($event)">
        </div>
    </div>

    <div class="col-md-1">
        <span class="badge">
            שם
        </span>
        <i class="fa fa-arrow-down" aria-hidden="true" (click)="OutputSortAction($event,'USERNAME')"></i>
        <div class="col-xs-12">
            <input class="form-control" name="USERNAME" [(ngModel)]="filter.USERNAME" placeholder="שם" (ngModelChange)="OutputFilterAction($event)">
        </div>
    </div>

    <div class="col-md-1">
        <span class="badge">
            תאריך הגשה
        </span>
        <i class="fa fa-arrow-down" aria-hidden="true" (click)="OutputSortAction($event,'CREATEDDATE')"></i>
    </div>

    <div class="col-md-1">
        <span class="badge">
            מפעל
        </span>
        <i class="fa fa-arrow-down" aria-hidden="true" (click)="OutputSortAction($event,'MIFAL')"></i>
        <div class="col-xs-12" *ngIf="(Factories | async) !== null && (Factories | async).length > 1">
            <ss-multiselect-dropdown [options]="(Factories | async)" [texts]="multiSelectTexts" [settings]="multiSelectSettings" [(ngModel)]="filter.MIFAL" (ngModelChange)="OutputFilterAction($event)"></ss-multiselect-dropdown>
        </div>
    </div>

    <div class="col-md-1">
        <span class="badge">
            סעיף תקציבי
        </span>
        <i class="fa fa-arrow-down" aria-hidden="true" (click)="OutputSortAction($event,'SEIF_TAKZIVI_RASHI')"></i>
        <div class="col-xs-12" *ngIf="(BudgetItems | async) !== null && (BudgetItems | async).length > 1">
            <ss-multiselect-dropdown [options]="(BudgetItems | async)" [texts]="multiSelectTexts" [settings]="multiSelectSettings" [(ngModel)]="filter.SEIF_TAKZIVI_RASHI" (ngModelChange)="OutputFilterAction($event)"></ss-multiselect-dropdown>
        </div>
    </div>

    <div class="col-md-1">
        <span class="badge">
            סטטוס טופס
        </span>
        <i class="fa fa-arrow-down" aria-hidden="true" (click)="OutputSortAction($event,'DELIVERYSTATUS')"></i>
        <div class="col-xs-12">
            <ss-multiselect-dropdown [options]="DeliveryStatuses" [texts]="multiSelectTexts" [settings]="multiSelectSettingsNoSearch" [(ngModel)]="filter.DELIVERYSTATUS" (ngModelChange)="OutputFilterAction($event)"></ss-multiselect-dropdown>
        </div>
    </div>

    <div class="col-md-2">
        <span class="badge">
            הערה
        </span>
        <i class="fa fa-arrow-down" aria-hidden="true" (click)="OutputSortAction($event,'COMMENTTEXT')"></i>
    </div>

    <div class="col-md-1">
        <span class="badge">
            רפרנט
        </span>
        <i class="fa fa-arrow-down" aria-hidden="true" (click)="OutputSortAction($event,'NIM_SHEM_MISHTAMESH')"></i>
    </div>

    <div class="col-md-1">
        <span class="badge">
            משתמש מעדכן
        </span>
        <i class="fa fa-arrow-down" aria-hidden="true" (click)="OutputSortAction($event,'UPDATINGUSER')"></i>
    </div>

    <div class="col-md-1">
        <span class="badge">
            עדכון כ"א
        </span>
        <i class="fa fa-arrow-down" aria-hidden="true" (click)="OutputSortAction($event,'CONFIRMATIONDATE')"></i>
    </div>

    <div class="col-md-auto">
        <button type="button" name="Update" class="btn btn-success" (click)="emitFormsUpdate()" [hidden]="hideUpdate">עדכן מצב טפסים</button>
        <button type="button" name="ExportExcel" class="btn btn-success" (click)="ExportExcel()" [hidden]="hideExcel">יצוא ל-Excel</button>
        <p>{{counter}} - בתצוגה</p>
        <button type="button" name="SaveFilter" class="btn btn-dark" (click)="SaveFilter()">שמור סינון</button>
        <button type="button" name="ClearFilter" class="btn btn-info" (click)="ClearFilter()">מחק סינון</button>
    </div>
</div>