div[class^="col-"] {
    text-align: center;
}

.row .col-xl-auto span.badge,
.row .col-md-auto span.badge {
    visibility: hidden;
    font-size: 1.1rem;
}

.row .col-xl-auto:last-child,
.row .col-md-auto:last-child {
    padding: 0.1rem;
}

.row .col-xl-auto:last-child button,
.row .col-md-auto:last-child button {
    font-size: 0.8rem;
}

i.fa {
    position: absolute;
    top: 6px;
    left: 10px;
    cursor: pointer;
}

button.btn {
    font-size: .9rem;
}

button.btn.btn-success {
    display: block;
    margin: 0 auto;
    margin-bottom: .25rem;
}

.btn.hidden {
    visibility: hidden;
}

.col-md-auto .btn.btn-dark {
    border-radius: 0rem .25rem .25rem 0rem;
}

.col-md-auto .btn.btn-info {
    border-radius: .25rem 0rem 0rem .25rem;
}

@media (max-width:1350px) {
    .row .col-xl-auto:last-child,
    .row .col-md-auto:last-child {
        width: min-content;
    }
}