<div class="container-fluid">
    <form name="EmployeeDetailsForm" id="EmployeeDetailsForm" #EmployeeDetailsForm>

        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="idNumber">מספר זהות </label>
                            <input type="text" class="form-control" value="{{employeeDetails.idNumber}}" disabled readonly name="employeeDetails.idNumber" placeholder="מספר זהות">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="firstName">שם פרטי</label>
                            <input type="text" class="form-control" [(ngModel)]="employeeDetails.firstName" [disabled]="DisableAll" name="employeeDetails.firstName" placeholder="שם פרטי" required minlength="2">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="lastName">שם משפחה</label>
                            <input type="text" class="form-control" [(ngModel)]="employeeDetails.lastName" [disabled]="DisableAll" name="employeeDetails.lastName" placeholder="שם משפחה" required minlength="2">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="birthDate">תאריך לידה</label>
                            <input type="text" onkeydown="event.preventDefault()" placeholder="תאריך לידה" class="form-control" bsDatepicker name="employeeDetails.birthDate" [(ngModel)]="employeeDetails.birthDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="immigrationDate">תאריך עליה</label>
                            <input type="text" onkeydown="event.preventDefault()" placeholder="תאריך עליה" class="form-control" bsDatepicker name="employeeDetails.immigrationDate" [(ngModel)]="employeeDetails.immigrationDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">עיר</label>
                            <input type="text" class="form-control" [(ngModel)]="employeeDetails.city" [disabled]="DisableAll" name="employeeDetails.city" placeholder="עיר" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="street">רחוב</label>
                            <input type="text" class="form-control" [(ngModel)]="employeeDetails.street" [disabled]="DisableAll" name="employeeDetails.street" placeholder="רחוב" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="houseNumber">מספר בית</label>
                            <input type="text" class="form-control" [(ngModel)]="employeeDetails.houseNumber" [disabled]="DisableAll" name="employeeDetails.houseNumber" placeholder="מספר בית">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="zip">מיקוד</label>
                            <input type="text" class="form-control" [(ngModel)]="employeeDetails.zip" [disabled]="DisableAll" name="employeeDetails.zip" placeholder="מיקוד">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="phone">טלפון בבית</label>
                            <input type="text" class="form-control" [(ngModel)]="employeeDetails.phone" [disabled]="DisableAll" name="employeeDetails.phone" placeholder="טלפון בבית">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cell">נייד</label>
                            <input type="text" class="form-control" [(ngModel)]="employeeDetails.cell" [disabled]="DisableAll" name="employeeDetails.cell" placeholder="נייד" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="email">מייל</label>
                            <input type="email" class="form-control" [(ngModel)]="employeeDetails.email" [disabled]="DisableAll" name="employeeDetails.email" placeholder="מייל" required email>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="gender">מגדר</label>
                            <mat-radio-group [disabled]="DisableAll" aria-labelledby="מגדר" class="form-control auto-height" [(ngModel)]="employeeDetails.gender" name="employeeDetails.gender">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of Genders" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-3 mat-field-wrapper">
                        <label for="maritalStatus">מצב משפחתי</label>
                        <mat-form-field class="form-control ltr" [ngClass]="{'mat-disabled-field':DisableAll}" required>
                            <mat-select [disabled]="DisableAll" [(ngModel)]="employeeDetails.maritalStatus" disableRipple name="employeeDetails.maritalStatus">
                                <mat-option *ngFor="let status of maritalStatesEnum | enumToArray" [value]="status.index">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="ilResident">תושב ישראל</label>
                            <mat-radio-group [disabled]="DisableAll" aria-labelledby="תושב ישראל" class="form-control" [(ngModel)]="employeeDetails.ilResident" required name="employeeDetails.ilResident">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="kibbutzResident">חבר קיבוץ</label>
                            <mat-radio-group [disabled]="DisableAll" aria-labelledby="חבר קיבוץ" class="form-control" [(ngModel)]="employeeDetails.kibbutzResident" required name="employeeDetails.kibbutzResident">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="hmoMember">חבר קופת חולים</label>
                            <mat-radio-group [disabled]="DisableAll" aria-labelledby="חבר קופת חולים" class="form-control" [(ngModel)]="employeeDetails.hmoMember" required name="employeeDetails.hmoMember">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-3 mat-field-wrapper">
                        <label for="hmoCode">קופת חולים</label>
                        <mat-form-field class="form-control ltr" [ngClass]="{'mat-disabled-field':DisableAll}">
                            <mat-select [disabled]="DisableAll" [(ngModel)]="employeeDetails.hmoCode" disableRipple name="employeeDetails.hmoCode">
                                <mat-option *ngFor="let status of hmos | enumToArray" [value]="status.index">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>

    </form>
</div>