<ng-template [ngIf]="ToggleAction">
    <form name="PersonalInformationForm" id="PersonalInformationForm" #PersonalInformationForm>

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" OpenAll>פרטים אישיים</h5>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.idNumber">מספר זהות</label>
                                <input type="text" class="form-control" value="{{personalInformation.employee.idNumber}}" disabled readonly name="employee.idNumber" placeholder="מספר זהות">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.firstName">שם פרטי</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.firstName" [disabled]='DisableAll' name="employee.firstName" placeholder="שם פרטי" required minlength="2">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.lastName">שם משפחה</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.lastName" [disabled]='DisableAll' name="employee.lastName" placeholder="שם משפחה" required minlength="2">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.fathersName">שם האב</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.fathersName" [disabled]='DisableAll' name="employee.fathersName" placeholder="שם האב">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.en_firstName">שם פרטי באנגלית</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.en_firstName" [disabled]='DisableAll' name="employee.en_firstName" placeholder="שם פרטי באנגלית">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.en_lastName">שם משפחה באנגלית</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.en_lastName" [disabled]='DisableAll' name="employee.en_lastName" placeholder="שם משפחה באנגלית">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.countryOfBirth">ארץ לידה</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.countryOfBirth" [disabled]='DisableAll' name="employee.countryOfBirth" placeholder="ארץ לידה">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.birthDate">תאריך לידה</label>
                                <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="employee.birthDate" [(ngModel)]="personalInformation.employee.birthDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.immigrationDate">תאריך עליה</label>
                                <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="employee.immigrationDate" [(ngModel)]="personalInformation.employee.immigrationDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.CountryOfOrigin">ארץ מוצא</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.CountryOfOrigin" [disabled]='DisableAll' name="employee.CountryOfOrigin" placeholder="ארץ מוצא">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.ilResident">תושב ישראל</label>
                                <mat-radio-group [disabled]='DisableAll' aria-labelledby="תושב ישראל" class="form-control" [(ngModel)]="personalInformation.employee.ilResident" required name="employee.ilResident">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.phone">טלפון בבית</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.phone" [disabled]='DisableAll' name="employee.phone" placeholder="טלפון בבית">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.cell">נייד</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.cell" [disabled]='DisableAll' name="employee.cell" placeholder="נייד" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.email">מייל</label>
                                <input type="email" class="form-control" [(ngModel)]="personalInformation.employee.email" [disabled]='DisableAll' name="employee.email" placeholder="מייל" required email>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.personalEmail">מייל אישי</label>
                                <input type="email" class="form-control" [(ngModel)]="personalInformation.employee.personalEmail" [disabled]='DisableAll' name="employee.personalEmail" placeholder="מייל אישי" email>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.city">עיר</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.city" [disabled]='DisableAll' name="employee.city" placeholder="עיר" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.street">רחוב</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.street" [disabled]='DisableAll' name="employee.street" placeholder="רחוב" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.houseNumber">מספר בית</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.houseNumber" [disabled]='DisableAll' name="employee.houseNumber" placeholder="מספר בית">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.apartmentNumber">דירה</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.apartmentNumber" [disabled]='DisableAll' name="employee.apartmentNumber" placeholder="דירה">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.entranceNumber">כניסה</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.entranceNumber" [disabled]='DisableAll' name="employee.entranceNumber" placeholder="כניסה">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.poBox">תא דואר</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.poBox" [disabled]='DisableAll' name="employee.poBox" placeholder="תא דואר">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.zip">מיקוד</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.zip" [disabled]='DisableAll' name="employee.zip" placeholder="מיקוד">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.kibbutzResident">חבר קיבוץ</label>
                                <mat-radio-group [disabled]='DisableAll' aria-labelledby="חבר קיבוץ" class="form-control" [(ngModel)]="personalInformation.employee.kibbutzResident" name="employee.kibbutzResident">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <h6 class="card-title">ייצוג הולם</h6>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employee.gender">מגדר</label>
                                <mat-radio-group [disabled]='DisableAll' aria-labelledby="מגדר" class="form-control  auto-height" [(ngModel)]="personalInformation.employee.gender" name="employee.gender">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Genders" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.blindDisabled">בעל מוגבלות</label>
                                <mat-radio-group [disabled]='DisableAll' aria-labelledby="בעל מוגבלות" class="form-control auto-height" [(ngModel)]="personalInformation.employee.blindDisabled" name="employee.blindDisabled">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.blindDisabledText">פירוט</label>
                                <input type="text" class="form-control" [(ngModel)]="personalInformation.employee.blindDisabledText" [disabled]='DisableAll' name="employee.blindDisabledText" placeholder="פירוט">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employee.isNewImmigrant">הנני עולה חדש (פחות מ 12 שנים בארץ)</label>
                                <mat-radio-group [disabled]='DisableAll' aria-labelledby="הנני עולה חדש (פחות מ 12 שנים בארץ)" class="form-control auto-height" [(ngModel)]="personalInformation.employee.isNewImmigrant" name="employee.isNewImmigrant">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employee.isEthiopian">נולדתי באתיופיה או אחד מהורי נולד באתיופיה</label>
                                <mat-radio-group [disabled]='DisableAll' aria-labelledby="נולדתי באתיופיה או אחד מהורי נולד באתיופיה" class="form-control auto-height" [(ngModel)]="personalInformation.employee.isEthiopian" name="employee.isEthiopian">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employee.isDruze">הנני בן העדה הדרוזית</label>
                                <mat-radio-group [disabled]='DisableAll' aria-labelledby="הנני בן העדה הדרוזית" class="form-control auto-height" [(ngModel)]="personalInformation.employee.isDruze" name="employee.isDruze">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employee.isArabOrCircassian">הנני משתייך/ת לאוכלוסיה הערבית (לרבות
                                    צ'רקסים)</label>
                                <mat-radio-group [disabled]='DisableAll' aria-labelledby="הנני משתייך/ת לאוכלוסיה הערבית (לרבות צ'רקסים)" class="form-control auto-height" [(ngModel)]="personalInformation.employee.isArabOrCircassian" name="employee.isArabOrCircassian">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="employee.isOrthodox">הנני משתייך לאוכלוסיה החרדית ו/או אני או ילדי או בן/בת
                                    זוגי לומדים או למדו במוסד חינוך חרדי</label>
                                <mat-radio-group [disabled]='DisableAll' aria-labelledby="הנני משתייך לאוכלוסיה החרדית ו/או אני או ילדי או בן/בת זוגי לומדים או למדו במוסד חינוך חרדי" class="form-control auto-height" [(ngModel)]="personalInformation.employee.isOrthodox" name="employee.isOrthodox">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <!-- start partnet-form-->
                    <div class="col-xl-12" *ngIf="personalInformation.employee.maritalStatus === 2">
                        <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'family-details .container-fluid'">פרטי משפחה</h6>
                        <family-details [applicantForm]="personalInformation"></family-details>
                    </div>
                    <div class="clear-both"></div>
                    <!-- end -->

                    <!-- start children-forms-->
                    <div class="col-xl-12" *ngIf="personalInformation.children && personalInformation.children.length > 0">
                        <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'.children-container'">
                            ילדים</h6>
                        <div class="children-container component">
                            <list-children *ngFor="let c of personalInformation.children; let i = index;" [child]="c">
                            </list-children>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                    <!-- end -->

                    <!-- start Languages-forms-->
                    <div class="col-xl-12" *ngIf="personalInformation.Languages && personalInformation.Languages.length > 0">
                        <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'.languages-container'">
                            שפות</h6>
                        <div class="languages-container component">
                            <list-languages *ngFor="let L of personalInformation.Languages; let i = index;" [language]="L">
                            </list-languages>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                    <!-- end -->

                    <!-- start Courses-forms-->
                    <div class="col-xl-12" *ngIf="personalInformation.Courses && personalInformation.Courses.length > 0">
                        <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'.courses-container'">
                            השכלה</h6>
                        <div class="courses-container component">
                            <list-courses *ngFor="let C of personalInformation.Courses; let i = index;" [course]="C" [Degrees]="Degrees"></list-courses>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                    <!-- end -->

                    <!-- start Experience-forms-->
                    <div class="col-xl-12" *ngIf="personalInformation.Experience && personalInformation.Experience.length > 0">
                        <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'.experience-container'">ניסיון תעסוקתי</h6>
                        <div class="experience-container component">
                            <list-experience *ngFor="let Ex of personalInformation.Experience; let i = index;" [Employer]="Ex"></list-experience>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                    <!-- end -->

                    <!-- start general-information-form-->
                    <div class="col-xl-12">
                        <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'general-information .container-fluid'">מידע כללי</h6>
                        <general-information [applicantForm]="personalInformation"></general-information>
                    </div>
                    <div class="clear-both"></div>
                    <!-- end -->

                    <!-- start Relatives-Forms-->
                    <div class="col-xl-12" *ngIf="formOptions.AllowRelativesForm && personalInformation.Relatives && personalInformation.Relatives.length > 0">
                        <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'.relatives-container'">
                            קרובים בארגון</h6>
                        <div class="relatives-container component">
                            <list-relatives *ngFor="let rltv of personalInformation.Relatives; let i = index;" [Relative]="rltv" [KinshipTypes]="KinshipTypes"></list-relatives>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                    <!-- end -->

                    <!-- start References-Forms-->
                    <div class="col-xl-12" *ngIf="formOptions.AllowReferencesForm && personalInformation.References && personalInformation.References.length > 0">
                        <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'.references-container'">ממליצים</h6>
                        <div class="references-container component">
                            <list-references *ngFor="let Ref of personalInformation.References; let i = index;" [Reference]="Ref"></list-references>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                    <!-- end -->

                    <!-- start AllowEmergencyContacts Forms -->
                    <div class="col-xl-12" *ngIf="formOptions.AllowEmergencyContacts && personalInformation.EmergencyContacts && personalInformation.EmergencyContacts.length > 0">
                        <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'.emergency-contacts-container'">קרובים לשעת חירום</h6>
                        <div class="emergency-contacts-container component">
                            <list-emergency-contacts *ngFor="let ec of personalInformation.EmergencyContacts; let i = index;" [EmergencyContact]="ec"></list-emergency-contacts>
                        </div>
                    </div>
                    <!-- end -->
                </div>
            </div>
        </div>

    </form>
</ng-template>