<div class="container-fluid">
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="language.name">שם</label>
                        <input type="text" class="form-control" [(ngModel)]="language.name" name="language.name" placeholder="שם" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="language.writing">קריאה</label>
                        <mat-radio-group aria-labelledby="קריאה" class="form-control" [(ngModel)]="language.reading">
                            <mat-radio-button class="example-radio-button" *ngFor="let g of YesNo" [value]="g.value">
                                {{g.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-md-8 col-xs-8">
                    <div class="form-group">
                        <label for="language.readingLevel ">רמת שליטה</label>
                        <mat-radio-group aria-labelledby="רמת שליטה" class="form-control" [(ngModel)]="language.readingLevel ">
                            <mat-radio-button class="example-radio-button" *ngFor="let status of Levels | enumToArray" [value]="status.index">
                                {{status.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="language.writing">כתיבה</label>
                        <mat-radio-group aria-labelledby="כתיבה" class="form-control" [(ngModel)]="language.writing">
                            <mat-radio-button class="example-radio-button" *ngFor="let g of YesNo" [value]="g.value">
                                {{g.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-md-8 col-xs-8">
                    <div class="form-group">
                        <label for="language.writingLevel ">רמת שליטה</label>
                        <mat-radio-group aria-labelledby="רמת שליטה" class="form-control" [(ngModel)]="language.writingLevel ">
                            <mat-radio-button class="example-radio-button" *ngFor="let status of Levels | enumToArray" [value]="status.index">
                                {{status.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="language.speech">דיבור</label>
                        <mat-radio-group aria-labelledby="דיבור" class="form-control" [(ngModel)]="language.speech">
                            <mat-radio-button class="example-radio-button" *ngFor="let g of YesNo" [value]="g.value">
                                {{g.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-md-8 col-xs-8">
                    <div class="form-group">
                        <label for="language.speechLevel ">רמת שליטה</label>
                        <mat-radio-group aria-labelledby="רמת שליטה" class="form-control" [(ngModel)]="language.speechLevel ">
                            <mat-radio-button class="example-radio-button" *ngFor="let status of Levels | enumToArray" [value]="status.index">
                                {{status.name}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>