<ng-template [ngIf]="ToggleAction">
    <form name="WorkersUnionForm" id="WorkersUnionForm" #WorkersUnionForm>

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 *ngIf="!FormType" class="card-title">טופס הצטרפות ל-הסתדרות העובדים הלאומית</h5>
                    <h5 *ngIf="FormType" class="card-title">טופס הצטרפות ל-הסתדרות כללית</h5>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.idNumber">מספר זהות</label>
                                <input type="text" class="form-control" value="{{workersUnion.employee.idNumber}}" disabled readonly name="employee.idNumber" placeholder="מספר זהות">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employer.name">שם מקום העבודה</label>
                                <input type="text" class="form-control" [(ngModel)]="workersUnion.employer.name" name="employer.name" placeholder="שם מקום העבודה" required minlength="2">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.firstName">שם פרטי</label>
                                <input type="text" class="form-control" [(ngModel)]="workersUnion.employee.firstName" name="employee.firstName" placeholder="שם פרטי" required minlength="2">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.lastName">שם משפחה</label>
                                <input type="text" class="form-control" [(ngModel)]="workersUnion.employee.lastName" name="employee.lastName" placeholder="שם משפחה" required minlength="2">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.city">עיר</label>
                                <input type="text" class="form-control" [(ngModel)]="workersUnion.employee.city" name="employee.city" placeholder="עיר" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.street">רחוב</label>
                                <input type="text" class="form-control" [(ngModel)]="workersUnion.employee.street" name="employee.street" placeholder="רחוב" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.houseNumber">מספר בית</label>
                                <input type="text" class="form-control" [(ngModel)]="workersUnion.employee.houseNumber" name="employee.houseNumber" placeholder="מספר בית">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.zip">מיקוד</label>
                                <input type="text" class="form-control" [(ngModel)]="workersUnion.employee.zip" name="employee.zip" placeholder="מיקוד">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.phone">טלפון בבית</label>
                                <input type="text" class="form-control" [(ngModel)]="workersUnion.employee.phone" name="employee.phone" placeholder="טלפון בבית">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.cell">נייד</label>
                                <input type="text" class="form-control" [(ngModel)]="workersUnion.employee.cell" name="employee.cell" placeholder="נייד" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.gender">מגדר</label>
                                <mat-radio-group aria-labelledby="מגדר" class="form-control" [(ngModel)]="workersUnion.employee.gender" name="employee.gender">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Genders" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.birthDate">תאריך לידה</label>
                                <div class="mat-field-wrapper">
                                    <input type="text" onkeydown="event.preventDefault()" name="employee.birthDate" class="form-control" bsDatepicker [(ngModel)]="workersUnion.employee.birthDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="FormType">
                            <div class="form-group">
                                <label for="employee.personalEmail">מייל אישי</label>
                                <input type="email" class="form-control" [(ngModel)]="workersUnion.employee.personalEmail" name="employee.personalEmail" placeholder="מייל אישי" email>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="FormType">
                            <div class="form-group">
                                <label for="employee.previousLastName">שם משפחה קודם</label>
                                <input type="text" class="form-control" [(ngModel)]="workersUnion.employee.previousLastName" name="employee.previousLastName" placeholder="שם משפחה קודם">
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-3 mat-field-wrapper" *ngIf="FormType">
                            <label for="course.degree ">המבקש להצטרף</label>
                            <mat-form-field class="form-control ltr">
                                <mat-select [(ngModel)]="workersUnion.employee.supplicateOption" disableRipple name="employee.supplicateOption">
                                    <mat-option *ngFor="let status of supplicateOptions | enumToArray" [value]="status.index">
                                        {{ status.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2 col-xs-3 mat-field-wrapper" *ngIf="FormType">
                            <label for="course.degree ">משלם באמצעות</label>
                            <mat-form-field class="form-control ltr">
                                <mat-select [(ngModel)]="workersUnion.employee.paymentOption" disableRipple name="employee.paymentOption">
                                    <mat-option *ngFor="let status of paymentOptions | enumToArray" [value]="status.index">
                                        {{ status.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2" *ngIf="!FormType">
                            <div class="form-group">
                                <label for="employee.personalEmail">מייל אישי</label>
                                <input type="email" class="form-control" [(ngModel)]="workersUnion.employee.personalEmail" name="employee.personalEmail" placeholder="מייל אישי" email>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="employee.TerminationDeclaration">הפסקת חברותי בארגון העובדים</label>
                                <mat-radio-group aria-labelledby="תושב ישראל" class="form-control" [(ngModel)]="workersUnion.employee.TerminationDeclaration" name="employee.TerminationDeclaration">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of Resident" [value]="g.value">
                                        {{g.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-3 mat-field-wrapper" *ngIf="FormType">
                            <label for="employee.organizationalAffiliation">השתייכות ארגונית קודמת</label>
                            <mat-form-field class="form-control ltr">
                                <mat-select [(ngModel)]="workersUnion.employee.organizationalAffiliation" disableRipple name="employee.organizationalAffiliation">
                                    <mat-option *ngFor="let status of Organizations | enumToArray" [value]="status.index">
                                        {{ status.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2 col-xs-3 mat-field-wrapper" *ngIf="!FormType">
                            <label for="employee.TerminationOA">השתייכות ארגונית קודמת</label>
                            <mat-form-field class="form-control ltr">
                                <mat-select [(ngModel)]="workersUnion.employee.TerminationOA" disableRipple name="employee.TerminationOA">
                                    <mat-option *ngFor="let status of Organizations | enumToArray" [value]="status.index">
                                        {{ status.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>
</ng-template>