<div class="container-fluid titles-container">
    <div class="card">
        <div class="card-body">
            <div class="row row-titles">
                <div class="col-md-2 col-xs-4">
                    <div class="form-group">
                        <label for="name">שם</label>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4">
                    <div class="form-group">
                        <label for="address">כתובת</label>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4">
                    <div class="form-group">
                        <label for="deductionFileID">מספר תיק ניכויים</label>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4">
                    <div class="form-group">
                        <label for="salary">הכנסה חודשית</label>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4">
                    <div class="form-group">
                        <label for="taxDeduction">המס שנוכה</label>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4">
                    <div class="form-group">
                        <label for="incomeTypeID">סיבת הבקשה</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <form name="TCE_Form" id="TCE_Form" #TCE_Form>

        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-2 col-xs-4">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Employer.name" [disabled]="DisableAll" name="name" placeholder="שם">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Employer.address" [disabled]="DisableAll" name="address" placeholder="כתובת">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Employer.deductionFileID" [disabled]="DisableAll" name="deductionFileID" placeholder="מספר תיק ניכויים">
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-4">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Employer.salary" [disabled]="DisableAll" name="salary" placeholder="הכנסה חודשית">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Employer.taxDeduction" [disabled]="DisableAll" name="taxDeduction" placeholder="המס שנוכה">
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-4 mat-field-wrapper">
                        <mat-form-field class="form-control ltr" [ngClass]="{'mat-disabled-field':DisableAll}">
                            <mat-select [disabled]="DisableAll" [(ngModel)]="incomeTypeID" disableRipple (selectionChange)="incomeTypeSelectionChange($event.value)" name="incomeTypeID">
                                <mat-option *ngFor="let status of incomeTypes | enumToArray" [value]="status.index">
                                    {{ status.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

            </div>
        </div>

    </form>
</div>