<div class="container-fluid titles-container">
    <div class="card">
        <div class="card-body">
            <div class="row titles-row">
                <div class="col-md-3">
                    <label for="Relative.FirstName">שם פרטי</label>
                </div>
                <div class="col-md-3">
                    <label for="Relative.LastName">שם משפחה</label>
                </div>
                <div class="col-md-3">
                    <label for="Relative.idNumber">מספר זהות</label>
                </div>
                <div class="col-md-3">
                    <label for="Relative.KinshipCode">סוג קרבה</label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FirstName LastName idNumber KinshipText KinshipCode -->
<form name="RelativeForm{{insertID}}" id="RelativeForm{{insertID}}" #RelativeForm>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Relative.FirstName" name="Relative.FirstName{{insertID}}" placeholder="שם פרטי" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Relative.LastName" name="Relative.LastName{{insertID}}" placeholder="שם משפחה" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="Relative.idNumber" name="Relative.idNumber{{insertID}}" placeholder="מספר זהות" required>
                        </div>
                    </div>
                    <div class="col-md-3 mat-field-wrapper">
                        <mat-form-field class="form-control ltr">
                            <mat-select [(ngModel)]="Relative.KinshipCode" disableRipple name="Relative.KinshipCode{{insertID}}" required>
                                <mat-option *ngFor="let kinship of KinshipTypes" [value]="kinship.PNH_EREH_K_NUMERI" (onSelectionChange)="SelectionChange($event, kinship)">
                                    {{ kinship.PNH_TEUR_K }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

            </div>
        </div>
    </div>

</form>