<div class="container-fluid">
    <form name="ITR_Form" id="ITR_Form" #ITR_Form>

        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="employee.ilResident">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="employee.ilResident" [(ngModel)]="form.employee.ilResident" [labelPosition]="'after'">
                                    תושב ישראל
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="taxExemption.blindDisabled">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.blindDisabled" [(ngModel)]="form.taxExemption.blindDisabled" [labelPosition]="'after'">
                                    אני נכה 100% / עיוור/ת לצמיתות
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="taxExemption.spouseNoIncome">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.spouseNoIncome" [(ngModel)]="form.taxExemption.spouseNoIncome" [labelPosition]="'after'">
                                    בגין בן/בת זוגי המתגורר/ת עימי ואין לו/לה הכנסות בשנת המס
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="taxExemption.separatedParent">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.separatedParent" [(ngModel)]="form.taxExemption.separatedParent" [labelPosition]="'after'">
                                    אני הורה במשפחה חד הורית החי בנפרד
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="taxExemption.childrenInCare">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.childrenInCare" [(ngModel)]="form.taxExemption.childrenInCare" [labelPosition]="'after'">
                                    בגין ילדי שבחזקתי
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="taxExemption.infantchildren">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.infantchildren" [(ngModel)]="form.taxExemption.infantchildren" [labelPosition]="'after'">
                                    בגין ילדי הפעוטים
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="taxExemption.singleParent">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.singleParent" [(ngModel)]="form.taxExemption.singleParent" [labelPosition]="'after'">
                                    אני הורה יחיד לילדי שבחזקתי
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="taxExemption.alimonyParticipates">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.alimonyParticipates" [(ngModel)]="form.taxExemption.alimonyParticipates" [labelPosition]="'after'">
                                    בגין ילדי שאינם בחזקתי ואני משתתף/ת בכלכלתם.
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="taxExemption.incompetentChild">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.incompetentChild" [(ngModel)]="form.taxExemption.incompetentChild" [labelPosition]="'after'">
                                    אני הורה לילד נטול יכולת שטרם מלאו לו 19 שנים , בגינו אני מקבל/ת גמלה.
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="taxExemption.exAlimony">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.exAlimony" [(ngModel)]="form.taxExemption.exAlimony" [labelPosition]="'after'">
                                    בגין מזונות לבן/בת זוגי לשעבר.
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="taxExemption.partnersUnder18">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.partnersUnder18" [(ngModel)]="form.taxExemption.partnersUnder18" [labelPosition]="'after'">
                                    מלאו לי או לבן/בת זוגי 16 שנים, וטרם מלאו 18 שנים בשנת המס.
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="taxExemption.graduation">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.graduation" [(ngModel)]="form.taxExemption.graduation" [labelPosition]="'after'">
                                    בגין סיום לימודים לתואר אקדמי, סיום התמחות או סיום לימודי מקצוע.
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="taxExemption.isResident">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.isResident" [(ngModel)]="form.taxExemption.isResident" [labelPosition]="'after'">
                                    אני תושב/ת קבוע/ה בישוב מזכה.
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="form.taxExemption.isResident">
                        <div class="form-group">
                            <label for="startSettlementDate">תאריך תחילת מגורים</label>
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="taxExemption.startSettlementDate" [(ngModel)]="form.taxExemption.startSettlementDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="form.taxExemption.isResident">
                        <div class="form-group">
                            <label for="taxExemption.settlement">היישוב</label>
                            <input type="text" class="form-control" [(ngModel)]="form.taxExemption.settlement" [disabled]="DisableAll" name="taxExemption.settlement" placeholder="היישוב">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="taxExemption.isImmigrant">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox class="form-checkbox" [disabled]="DisableAll" name="taxExemption.isImmigrant" [(ngModel)]="form.taxExemption.isImmigrant" [labelPosition]="'after'">
                                    אני עולה חדש/ה או תושב/ת חוזר/ת
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="form.taxExemption.isImmigrant">
                        <div class="form-group">
                            <label for="taxExemption.immigrationStatus">&nbsp;</label>
                            <div class="row">
                                <mat-radio-group [disabled]="DisableAll" aria-labelledby="אני עולה חדש/ה או תושב/ת חוזר/ת" class="form-control" [(ngModel)]="form.taxExemption.immigrationStatus" name="taxExemption.immigrationStatus">
                                    <mat-radio-button class="example-radio-button" *ngFor="let g of immigrationStatus" [value]="g.Key">
                                        {{g.Value}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="form.taxExemption.isImmigrant">
                        <div class="form-group">
                            <label for="immigrationStatusDate">מתאריך</label>
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="taxExemption.immigrationStatusDate" [(ngModel)]="form.taxExemption.immigrationStatusDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="form.taxExemption.isImmigrant">
                        <div class="form-group">
                            <label for="immigrationNoIncomeDate">לא הייתה לי הכנסה בישראל מתחילת שנת המס הנוכחית עד תאריך</label>
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="taxExemption.immigrationNoIncomeDate" [(ngModel)]="form.taxExemption.immigrationNoIncomeDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="taxExemption.exServiceman">&nbsp;</label>
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="taxExemption.exServiceman" [(ngModel)]="form.taxExemption.exServiceman" [labelPosition]="'after'">
                                    אני חייל/ת משוחרר/ת / שרתתי בשירות לאומי.
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="form.taxExemption.exServiceman">
                        <div class="form-group">
                            <label for="serviceStartDate">תאריך תחילת שירות</label>
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="taxExemption.serviceStartDate" [(ngModel)]="form.taxExemption.serviceStartDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="form.taxExemption.exServiceman">
                        <div class="form-group">
                            <label for="serviceEndDate">תאריך סיום שירות</label>
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="taxExemption.serviceEndDate" [(ngModel)]="form.taxExemption.serviceEndDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </form>
</div>