.row,
.badge {
    font-size: 0.9rem;
}

.row div[class^="col-md-"],
.row div[class^="col-md-"] .col-xl-12 {
    text-align: center;
    line-height: 2.3rem;
}

.row div[class^="col-md-"] .col-xl-12 {
    padding: 0;
    cursor: pointer;
}

i.fa {
    font-size: 1.5rem;
    color: #4186dc;
}

i.fa.active {
    color: #4186dc;
}

i.active.fa-folder:before {
    content: "\f07c";
}

.col-md-auto label {
    font-size: 0.8rem;
    line-height: 1.7rem;
    margin: 0;
    vertical-align: text-bottom;
}

.col-md-1.checkbox {
    padding-top: 0.4rem;
}

input[type=checkbox] {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto;
}

.row>.col-md-auto:first-child {
    cursor: pointer;
}

.row>.col-md-auto:last-child {
    padding: 0rem 0.4rem;
}

.forms-displar-row,
.forms-displar-row .forms-display {
    display: flex;
    flex-direction: row;
}

.row .forms-display {
    font-size: 0.8rem;
    position: relative;
    margin: 0;
}

.row .forms-display .col-xl-4,
.row .forms-display .col-xl-5,
.row .forms-display .col-xl-6 {
    float: right;
    padding: 0;
}

.row .forms-display button,
.row .forms-display a {
    border: none;
    outline: none;
    text-decoration: none;
    padding: inherit;
}

.row .forms-display button i,
.row .forms-display a i {
    padding-left: .4rem;
    padding-right: .1rem;
}

.row .forms-display a i.active {
    padding-right: 0;
}

.row .forms-display:before {
    content: "||";
    position: absolute;
    top: 3px;
    right: 0;
}

.row .forms-display:first-child:before {
    content: "";
}

.row .forms-display.col-xl>.forms-display.col-xl-6,
.row .forms-display.col-xl>.open-pdf.col-xl-4 {
    display: contents;
    padding-left: 1.25rem;
}

.row .forms-display.col-xl>.open-pdf.col-xl-4 {
    padding-left: 0;
}

.fade-margin {
    margin: 0.5rem -0.5rem;
}

.component.fadein {
    display: table;
    width: 100%;
}

div>span label {
    margin: 0;
    display: block;
    line-height: 2rem;
}

div>span label+label {
    font-size: .7rem;
    direction: ltr;
}

button.btn {
    font-size: .9rem;
    display: block;
    margin: 0 auto;
}

button.btn+button.btn {
    margin-top: .09rem;
}

.btn-info.disabled,
.btn-info:disabled,
.btn.disabled,
.btn:disabled {
    background-color: #a5b9b9;
    border-color: #7ca8af;
    cursor: no-drop;
}

.mat-form-field {
    display: inherit;
}

.factory-col label {
    font-size: .75rem;
}

@media (max-width:1350px) {
    .row>.col-md-auto:last-child {
        padding: 0rem 0.2rem;
        width: min-content;
    }
}