<form name="ShowFormComponentForm" id="ShowFormComponentForm" #ShowFormComponentForm>
    <div class="row">

        <div class="col-md-auto" [shown]="form.formsCounter > 0">
            <i class="fa fa-plus-square fa-fw" aria-hidden="true" (click)="DisplayForms($event)" [ngClass]="{'active':isActive}"></i>
            <label>
                ({{ form.formsCounter }})
            </label>
        </div>

        <div class="col-md-1">
            <span class="badge">
                {{ form.USERID }}
            </span>
        </div>

        <div class="col-md-1">
            <span class="badge">
                {{form.USERNAME}}
            </span>
        </div>

        <div class="col-md-1">
            {{form.CREATEDDATE | date:'dd/MM/yyyy'}}
        </div>

        <div class="col-md-1 factory-col">
            <div *ngIf="form.MIFAL !== null && factory !== undefined; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>{{factory.name}}&nbsp;<label>({{form.MIFAL}})</label></ng-template>
            <ng-template #elseBlock>{{form.MIFAL}}</ng-template>
        </div>

        <div class="col-md-1 factory-col">
            <div *ngIf="form.SEIF_TAKZIVI_RASHI !== null && budgetItem !== undefined; then thenBlock1 else elseBlock1">
            </div>
            <ng-template #thenBlock1>{{budgetItem.name}}</ng-template>
            <ng-template #elseBlock1>{{form.SEIF_TAKZIVI_RASHI}}</ng-template>
        </div>

        <div class="col-md-1">
            <mat-form-field>
                <mat-select [(ngModel)]="form.DELIVERYSTATUS" disableRipple name="DELIVERYSTATUS">
                    <mat-option *ngFor="let status of DeliveryStatuss" [value]="status.index">
                        {{ status.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-2">
            <input class="form-control" name="COMMENTTEXT" type="text" [(ngModel)]="form.COMMENTTEXT" [required]="form.DELIVERYSTATUS === 3 || form.DELIVERYSTATUS === 1">
        </div>

        <div class="col-md-1">
            <span *ngIf="form.NIM_SHEM_MISHTAMESH !== null">
                <label>{{form.NIM_SHEM_MISHTAMESH}}</label>
                <label>{{form.NIM_EMAIL}}</label>
            </span>
        </div>

        <div class="col-md-1">
            <span *ngIf="form.UPDATINGUSER_USERNAME !== null">
                <label>{{form.UPDATINGUSER_USERNAME}}</label>
                <label>{{form.UPDATINGUSERDATE | date:'dd/MM/yyyy HH:mm'}}</label>
            </span>
        </div>

        <div class="col-md-1">
            <span *ngIf="form.PERSONNELAPPROVAL_USERNAME !== null">
                <label>{{form.PERSONNELAPPROVAL_USERNAME}}</label>
                <label>{{form.CONFIRMATIONDATE | date:'dd/MM/yyyy HH:mm'}}</label>
            </span>
            <input type="checkbox" [(ngModel)]="form.MANUALCONFIRMATION" name="MANUALCONFIRMATION" class="form-control">
        </div>

        <div class="col-md-auto">
            <button type="button" value="השלם קליטת עובד" name="Update" [disabled]="form.DELIVERYSTATUS !== 4" [hidden]="HideDeliveryStatus()" class="btn btn-info" (click)="UpdateForm()">השלם קליטת עובד</button>

            <button type="button" [disabled]="form.DELIVERYSTATUS !== 4 || form.PERSONNELAPPROVAL !== 1" [hidden]="form.DELIVERYSTATUS !== 4 || form.PERSONNELAPPROVAL !== 1" value="קלוט טפסים ל UFN" name="Update" class="btn btn-info" (click)="CompleteDataAcquisition()">קלוט טפסים ל IFN</button>

            <span *ngIf="form.PERSONNELAPPROVAL === 2 && form.IFN_TRANSACTIONID !== null">
                <label>קליטת נתונים הסתיימה</label>
                <label>{{form.PERSONNELAPPROVALDATE | date:'dd/MM/yyyy HH:mm'}}</label>
            </span>

            <button type="button" [hidden]="ShowResetImport()" value="חדש נתונים" name="Update" class="btn btn-info" (click)="ResetImport()">חדש נתונים</button>
        </div>

    </div>
</form>

<ng-template [ngIf]="isActive">
    <div class="row fadeout" [className]="isActive ? 'row fadein fade-margin' : 'row fadeout'">

        <div class="forms-display col-xl" *ngIf="showForms.AllowTaxForm">
            <div class="forms-display col-xl-6" (click)="DisplayForm(669)">
                <a class="btn"><i class="fa fa-folder" aria-hidden="true" [ngClass]="{'active':showForms.TaxForm}"></i>
                    טופס 101
                </a>
            </div>
            <div class="open-pdf col-xl-4" (click)="ShowFormPdf(669)">
                <a class="btn"><i class="fa fa-paperclip" aria-hidden="true"></i>
                    הצג טופס
                </a>
            </div>
        </div>

        <div class="forms-display col-xl" *ngIf="showForms.AllowPersonalInformation">
            <div class="forms-display col-xl-6" (click)="DisplayForm(1)">
                <a class="btn"><i class="fa fa-folder" aria-hidden="true"
                        [ngClass]="{'active':showForms.PersonalInformation}"></i>
                    פרטים אישיים
                </a>
            </div>
            <div class="open-pdf col-xl-4" (click)="ShowFormPdf(1)">
                <a class="btn"><i class="fa fa-paperclip" aria-hidden="true"></i>
                    הצג טופס
                </a>
            </div>
        </div>

        <div class="forms-display col-xl" *ngIf="!showForms.AllowPersonalInformation && (showForms.AllowRelativesForm || showForms.AllowReferencesForm)">
            <div class="forms-display col-xl-6" (click)="DisplayForm(6)">
                <a class="btn"><i class="fa fa-folder" aria-hidden="true"
                        [ngClass]="{'active':showForms.ReferencesForm}"></i>
                    קרובים/ממליצים
                </a>
            </div>
            <div class="open-pdf col-xl-4" (click)="ShowFormPdf(1)">
                <a class="btn"><i class="fa fa-paperclip" aria-hidden="true"></i>
                    הצג טופס
                </a>
            </div>
        </div>

        <div class="forms-display col-xl" *ngIf="showForms.AllowTravelReimbursement">
            <div class="forms-display col-xl-6" (click)="DisplayForm(2)">
                <a class="btn"><i class="fa fa-folder" aria-hidden="true"
                        [ngClass]="{'active':showForms.TravelReimbursement}"></i>
                    החזר נסיעות
                </a>
            </div>
            <div class="open-pdf col-xl-4" (click)="ShowFormPdf(2)">
                <a class="btn"><i class="fa fa-paperclip" aria-hidden="true"></i>
                    הצג טופס
                </a>
            </div>
        </div>

        <div class="forms-display col-xl" *ngIf="showForms.AllowWorkersUnion">
            <div class="forms-display col-xl-6" (click)="DisplayForm(3)">
                <a class="btn"><i class="fa fa-folder" aria-hidden="true"
                        [ngClass]="{'active':showForms.WorkersUnion}"></i>
                    הצטרפות להסתדרות
                </a>
            </div>
            <div class="open-pdf col-xl-4" (click)="ShowFormPdf(3)">
                <a class="btn"><i class="fa fa-paperclip" aria-hidden="true"></i>
                    הצג טופס
                </a>
            </div>
        </div>

        <div class="forms-display col-xl" *ngIf="showForms.AllowProvidentFund">
            <div class="forms-display col-xl-6" (click)="DisplayForm(4)">
                <a class="btn"><i class="fa fa-folder" aria-hidden="true"
                        [ngClass]="{'active':showForms.ProvidentFund}"></i>
                    קופת גמל
                </a>
            </div>
            <div class="open-pdf col-xl-4" (click)="ShowFormPdf(4)">
                <a class="btn"><i class="fa fa-paperclip" aria-hidden="true"></i>
                    הצג טופס
                </a>
            </div>
        </div>

        <div class="forms-display col-xl" *ngIf="showForms.AllowCustomPdf">
            <div class="open-pdf col-xl-4" (click)="ShowFormPdf(5)">
                <a class="btn"><i class="fa fa-paperclip" aria-hidden="true"></i>
                    הצג טופסי אישור
                </a>
            </div>
        </div>

    </div>
</ng-template>

<tax-form *ngIf="showForms.AllowTaxForm" class="component fadeout" [className]="showForms.TaxForm ? 'component fadein' : 'component fadeout'" [taxForm]="form.AppData" [ToggleAction]="showForms.TaxForm">
</tax-form>

<personal-information *ngIf="showForms.AllowPersonalInformation" class="component fadeout" [className]="showForms.PersonalInformation ? 'component fadein' : 'component fadeout'" [personalInformation]="form.AppData" [KaData]="KaData" [ToggleAction]="showForms.PersonalInformation"
    [formOptions]="showForms">
</personal-information>

<references-and-relatives *ngIf="!showForms.AllowPersonalInformation && (showForms.AllowRelativesForm || showForms.AllowReferencesForm || showForms.AllowEmergencyContacts)" class="component fadeout" [className]="showForms.ReferencesForm ? 'component fadein' : 'component fadeout'"
    [applicantForm]="form.AppData" [KinshipTypes]="KaData" [ToggleAction]="showForms.ReferencesForm">
</references-and-relatives>

<travel-reimbursement *ngIf="showForms.AllowTravelReimbursement" class="component fadeout" [className]="showForms.TravelReimbursement ? 'component fadein' : 'component fadeout'" [travelReimbursement]="form.AppData.Travel" [ToggleAction]="showForms.TravelReimbursement">
</travel-reimbursement>

<workers-union *ngIf="showForms.AllowWorkersUnion" class="component fadeout" [className]="showForms.WorkersUnion ? 'component fadein' : 'component fadeout'" [workersUnion]="form.AppData" [ToggleAction]="showForms.WorkersUnion">
</workers-union>

<provident-fund *ngIf="showForms.AllowProvidentFund" class="component fadeout" [className]="showForms.ProvidentFund ? 'component fadein' : 'component fadeout'" [Funds]="form.AppData.ProvidentFunds" [ToggleAction]="showForms.ProvidentFund"></provident-fund>