body,
body.app-root {
    background-color: #d3dce5;
    font-size: 0.9rem;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body,
html,
div,
table,
td,
th,
a {
    direction: rtl;
    text-align: right;
}

.content {
    direction: rtl;
    text-align: right;
    padding-bottom: 20px;
}

app-main-index>.form-container>.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
}

.main-container {
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 4px;
}

.hide-element {
    visibility: hidden;
}

.mat-simple-snackbar {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.snach-bar-custom {
    background: #503030;
}

.snach-bar-error {
    background: #FFFFFF;
    border: 7px solid #e43415;
    color: #000000;
}

.snach-bar-success {
    background: #FFFFFF;
    border: 7px solid #138496;
    color: #138496;
}

.cdk-overlay-pane snack-bar-container.mat-snack-bar-container {
    margin-top: 15em;
    padding: 1.5em 8em;
}

.cdk-overlay-pane snack-bar-container .mat-simple-snackbar {
    color: #138496;
}

.cdk-overlay-pane snack-bar-container.snach-bar-error .mat-simple-snackbar {
    color: #000000;
}

simple-snack-bar>div>button>span {
    color: #000;
}

.mat-field-wrapper mat-form-field {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    overflow: visible;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

.mat-field-wrapper mat-form-field .mat-form-field-wrapper {
    padding: 0;
    height: inherit;
}

.mat-field-wrapper mat-form-field .mat-form-field-underline {
    display: none;
}

.mat-field-wrapper mat-form-field .mat-form-field-flex {
    align-items: flex-end;
    height: inherit;
    padding-right: .75rem;
    color: #495057;
}

.mat-field-wrapper mat-form-field .mat-input-element {
    color: #495057;
}

mat-radio-group.form-control mat-radio-button.mat-radio-checked label>div.mat-radio-container>div.mat-radio-outer-circle,
mat-radio-group.form-control mat-radio-button.mat-radio-checked label>div.mat-radio-container>div.mat-radio-inner-circle {
    transition: border-color ease 280ms;
    border-color: rgba(0, 0, 0, 0.54);
}

mat-radio-group.form-control mat-radio-button.mat-radio-checked label>div.mat-radio-container>div.mat-radio-inner-circle {
    background-color: rgba(0, 0, 0, 0.54);
}

mat-radio-group.form-control .mat-radio-label-content {
    padding: 0 0.5rem 0 0.4rem;
}

.pointer {
    cursor: pointer;
}

mat-radio-group.form-control {
    border: none;
}

.form-checkbox {
    padding: 0 0.5rem 0 0.25rem;
}

.form-checkbox .mat-checkbox-inner-container {
    margin-left: 8px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #000;
}

.mat-option-text {
    text-align: right;
}

tax-coordination-employer .titles-container,
list-children .titles-container,
list-courses .titles-container,
list-experience .titles-container,
list-relatives .titles-container,
list-references .titles-container {
    visibility: hidden;
    display: none;
}

tax-coordination-employer .container-fluid.titles-container,
list-courses .container-fluid.titles-container,
list-experience .container-fluid.titles-container,
list-relatives .container-fluid.titles-container,
list-references .container-fluid.titles-container {
    margin-bottom: 0;
}

tax-coordination-employer .titles-container .card,
list-children .titles-container .card,
list-children .row .titles-container .card,
list-courses .titles-container .card,
list-experience .titles-container .card,
list-relatives .titles-container .card,
list-references .titles-container .card {
    border-bottom-width: 0;
    border-radius: .25rem .25rem 0 0;
    margin-bottom: -1px;
}

list-children .row .titles-container .card {
    width: 100%;
}

tax-coordination-employer:first-of-type .titles-container:first-child,
list-children:first-of-type .titles-container:first-child,
list-courses:first-of-type .titles-container:first-child,
list-experience:first-of-type .titles-container:first-child,
list-relatives:first-of-type .titles-container:first-child,
list-references:first-of-type .titles-container:first-child {
    visibility: visible;
    display: inherit;
}

h5.card-title {
    background-image: -webkit-linear-gradient(top, #4186dc 0, #c4e3f3 100%);
    background-image: -o-linear-gradient(top, #4186dc 0, #c4e3f3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4186dc), to(#c4e3f3));
    background-image: linear-gradient(to bottom, #4186dc 0, #c4e3f3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4186dc', endColorstr='#ffc4e3f3', GradientType=0);
    background-color: #4186dc;
    border-color: #4186dc;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.col-xl-12.zebra .row:nth-child(even) show-form.container-fluid .row.component.fadeout div.card,
.col-md-12.zebra .row:nth-child(even) show-form.container-fluid .row.component.fadeout div.card {
    background: #F5F3F3
}

div.clear-both {
    clear: both;
    margin-bottom: 1rem;
}

div.clear-both+div.clear-both {
    display: none;
}

.mat-field-wrapper mat-form-field[disabled],
.mat-field-wrapper mat-form-field[disabled=true],
mat-form-field.mat-disabled-field,
mat-checkbox[ng-reflect-is-disabled="true"],
mat-radio-group[disabled],
mat-radio-group[ng-reflect-disabled=true],
mat-form-field[disabled],
.form-control:disabled,
.form-control[readonly] {
    background-color: #DADCDF;
    opacity: 1;
}

app-header div.col-md-1,
app-header div.col-md-2,
app-header div.col-md-auto,
show-form div.col-md-1,
show-form div.col-md-2,
show-form div.col-md-auto {
    padding-right: 1px;
    padding-left: 1px;
}

app-header div.col-md-1,
show-form div.col-md-1 {
    flex: 0 0 8%;
    max-width: 8%;
}

app-header div.col-md-2,
show-form div.col-md-2 {
    flex: 0 0 12%;
    max-width: 12%;
}

@media (max-width:1350px) {
    body,
    body.app-root {
        font-size: 0.8rem;
    }
    .form-control {
        padding: .375rem .7rem;
        font-size: 1rem;
        line-height: 1.5;
        width: 98%;
        margin: auto;
    }
}