<ng-template [ngIf]="ToggleAction">

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" OpenAll>טופס 101</h5>

                <!-- start -->
                <div class="col-xl-12">
                    <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'employee-details .container-fluid'">פרטי עובד</h6>
                    <employee-details [DisableAll]=DisableAll [employeeDetails]="taxForm.employee"></employee-details>
                </div>
                <div class="clear-both"></div>
                <!-- end -->

                <!-- start -->
                <div class="col-xl-12" *ngIf="taxForm.employee.maritalStatus === 2 || taxForm.children.length > 0">
                    <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'tax-family-details .container-fluid'">פרטי משפחה</h6>
                    <tax-family-details [DisableAll]=DisableAll [Spouse]="taxForm.spouse" [showSpouse]="taxForm.employee.maritalStatus === 2" [Children]="taxForm.children"></tax-family-details>
                </div>
                <div class="clear-both"></div>
                <!-- end -->

                <!-- start -->
                <div class="col-xl-12">
                    <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'app-income .container-fluid'">הכנסות</h6>
                    <app-income [DisableAll]=DisableAll [form]="taxForm"></app-income>
                </div>
                <div class="clear-both"></div>
                <!-- end -->

                <!-- start -->
                <div class="col-xl-12">
                    <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'income-tax-rebate .container-fluid'">זיכוי מס</h6>
                    <income-tax-rebate [DisableAll]=DisableAll [form]="taxForm"></income-tax-rebate>
                </div>
                <div class="clear-both"></div>
                <!-- end -->
                <!-- start -->
                <div class="col-xl-12">
                    <h6 class="card-title" FadeElement [StartOption]="true" [fadeSelector]="'tax-coordination .container-fluid'">תאום מס</h6>
                    <tax-coordination [DisableAll]=DisableAll [Coordination]="taxForm.taxCoordination"></tax-coordination>
                </div>
                <div class="clear-both"></div>
                <!-- end -->

            </div>
        </div>
    </div>

</ng-template>