.container-fluid {
    padding: .6rem 0 .3rem 0;
    display: table-row;
}

.col-xl-12 {
    padding: 0;
}

.card {
    background-color: initial;
}

.card-body .card {
    margin-top: 1.5em;
}

.card-body {
    padding: 0.35rem;
}

.card-title {
    font-weight: 550;
    margin: -.35rem -.35rem .35rem;
    padding: 0.35rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

h5.card-title>i {
    float: left;
    font-size: 1.5rem;
    margin-left: 0.35rem;
    cursor: pointer;
}

h6.card-title {
    border-color: #53BDF2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.mat-field-wrapper {
    width: 100%;
}

mat-radio-group.form-control {
    border: none;
}

list-children,
list-languages {
    width: 50%;
    float: right;
}

.fadein {
    max-height: 1250px;
}