<div class="container-fluid">
    <form name="IncomeForm" id="IncomeForm" #IncomeForm>

        <div class="card">
            <div class="card-body">

                <h3 class="card-title">פרטים על הכנסותי ממעביד זה</h3>
                <div class="row">

                    <div class="col-md-1 col-xs-2">
                        <div class="form-group">
                            <label for="incomeType">אני מקבל/ת:</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-10">
                        <div class="form-group">
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="income.monthSalary" [(ngModel)]="form.income.incomeType.monthSalary" [labelPosition]="'after'" (change)="incomeOptions($event,'monthSalary')">
                                    משכורת חודש
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="income.anotherSalary" [(ngModel)]="form.income.incomeType.anotherSalary" [labelPosition]="'after'" (change)="incomeOptions($event,'anotherSalary')">
                                    משכורת נוספת
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="income.partialSalary" [(ngModel)]="form.income.incomeType.partialSalary" [labelPosition]="'after'" (change)="incomeOptions($event,'partialSalary')">
                                    משכורת חלקית
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="income.daySalary" [(ngModel)]="form.income.incomeType.daySalary" [labelPosition]="'after'" (change)="incomeOptions($event,'daySalary')">
                                    שכר עבודה (עובד יומי)
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="income.allowance" [(ngModel)]="form.income.incomeType.allowance" [labelPosition]="'after'" (change)="incomeOptions($event,'allowance')">
                                    קצבה
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="income.stipend" [(ngModel)]="form.income.incomeType.stipend" [labelPosition]="'after'" (change)="incomeOptions($event,'stipend')">
                                    מלגה
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-3 col-title">
                        <div class="form-group">
                            <label for="startDate">תאריך תחילת תקופת העבודה בשנת המס:</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" onkeydown="event.preventDefault()" class="form-control" bsDatepicker name="income.startDate" [(ngModel)]="form.income.startDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>
                </div>

                <h3 class="card-title">פרטים על הכנסות אחרות</h3>
                <div class="row">
                    <div class="col-md-1 col-xs-2 col-title">
                        <div class="form-group">
                            <label for="hasIncomes">סוג הכנסה:</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <mat-radio-group [disabled]="DisableAll" aria-labelledby="סוג הכנסה" class="form-control" [(ngModel)]="form.otherIncomes.hasIncomes" name="otherIncomes.hasIncomes">
                                <mat-radio-button class="example-radio-button" *ngFor="let g of HasIncome" [value]="g.value">
                                    {{g.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-md-1 col-xs-2 col-title">
                        <div class="form-group">
                            <label for="incomeType">פירוט הכנסות:</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="otherIncomes.monthSalary" [(ngModel)]="form.otherIncomes.incomeType.monthSalary" [labelPosition]="'after'">
                                    משכורת חודש
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="otherIncomes.anotherSalary" [(ngModel)]="form.otherIncomes.incomeType.anotherSalary" [labelPosition]="'after'">
                                    משכורת נוספת
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="otherIncomes.partialSalary" [(ngModel)]="form.otherIncomes.incomeType.partialSalary" [labelPosition]="'after'">
                                    משכורת חלקית
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="otherIncomes.daySalary" [(ngModel)]="form.otherIncomes.incomeType.daySalary" [labelPosition]="'after'">
                                    שכר עבודה (עובד יומי)
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="otherIncomes.allowance" [(ngModel)]="form.otherIncomes.incomeType.allowance" [labelPosition]="'after'">
                                    קצבה
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="otherIncomes.stipend" [(ngModel)]="form.otherIncomes.incomeType.stipend" [labelPosition]="'after'">
                                    מלגה
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="otherIncomes.anotherSource" [(ngModel)]="form.otherIncomes.incomeType.anotherSource" [labelPosition]="'after'">
                                    ממקור אחר
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-3 col-title">
                        <div class="form-group">
                            <label for="otherIncomes.anotherSourceDetails">פירוט מקור הכנסה אחר:</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" [disabled]="!form.otherIncomes.incomeType.anotherSource || DisableAll" class="form-control" [(ngModel)]="form.otherIncomes.anotherSourceDetails" name="otherIncomes.anotherSourceDetails" placeholder="פירוט מקור הכנסה אחר">
                        </div>
                    </div>

                    <div class="col-md-1 col-xs-2 col-title">
                        <div class="form-group">
                            <label for="otherIncomes.incomeTaxCredits">נקודות זיכוי:</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-8 mat-field-wrapper">
                        <mat-form-field class="form-control ltr" [ngClass]="{'mat-disabled-field':DisableAll}">
                            <mat-select [disabled]="DisableAll" [(ngModel)]="form.otherIncomes.incomeTaxCredits" disableRipple name="otherIncomes.incomeTaxCredits">
                                <mat-option *ngFor="let status of IncomeTaxCredit" [value]="status.Key">
                                    {{ status.Value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-1 col-xs-2 col-title">
                        <div class="form-group">
                            <label for="incomeType">פירוט הכנסות:</label>
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="otherIncomes.trainingFund" [(ngModel)]="form.otherIncomes.trainingFund" [labelPosition]="'after'">
                                    אין מפרישים עבורי לקרן השתלמות בגין הכנסתי האחרת, או שכל הפרשות המעביד לקרן השתלמות בגין הכנסתי האחרת מצורפות להכנסתי האחרת.
                                </mat-checkbox>
                                <mat-checkbox [disabled]="DisableAll" class="form-checkbox" name="otherIncomes.workDisability" [(ngModel)]="form.otherIncomes.workDisability" [labelPosition]="'after'">
                                    אין מפרישים עבורי לקיצבה/לביטוח אובדן כושר עבודה בגין הכנסתי האחרת, או שכל הפרשות המעביד לקצבה/לביטוח אובדן כושר עבודה בגין הכנסתי האחרת מצורפות להכנסתי האחרת.
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </form>
</div>